<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.day10_26">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DetectScoreActivity"
            android:label="@string/title_activity_detect_score"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DetectBeautyActivity"
            android:label="@string/title_activity_detect_beauty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UploadActivity"
            android:label="@string/title_activity_upload"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ResultActivity" />
        <activity
            android:name=".SelectPhotoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Select" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>